<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS --->
    <link
            rel="stylesheet"
            href="assets/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/libs/css/style.css"/>
    <link
            rel="stylesheet"
            href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css"
    />
    <link
            rel="stylesheet"
            href="assets/vendor/charts/chartist-bundle/chartist.css"
    />
    <link
            rel="stylesheet"
            href="assets/vendor/charts/morris-bundle/morris.css"
    />
    <link
            rel="stylesheet"
            href="assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="assets/vendor/charts/c3charts/c3.css"/>
    <link
            rel="stylesheet"
            href="assets/vendor/fonts/flag-icon-css/flag-icon.min.css"
    />
    <title>Employee Register</title>
</head>

<body>


<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->

                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <form>

                            <div class="row">
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label for="firstname" class="col-form-label">First Name</label>
                                        <input id="firstname" type="text" placeholder="First Name" class="form-control">
                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label for="lastname" class="col-form-label">Last Name</label>
                                        <input id="lastname" type="text" placeholder="Last Name" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label>Birthday</label>
                                        <div class="input-group date" id="project_start_date"
                                             data-target-input="nearest">
                                            <input type="date" class="form-control datetimepicker-input"
                                                   data-target="#datetimepicker4"/>
                                            <div class="input-group-append" data-target="#datetimepicker4"
                                                 data-toggle="datetimepicker">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label for="password" class="col-form-label">Password</label>
                                        <input id="password" type="text" placeholder="password" class="form-control">
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label for="passwordconfirmation" class="col-form-label">Password
                                            Confirmation</label>
                                        <input id="passwordconfirmation" type="text" placeholder="re-enter password"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label>Gender</label><br>
                                        <label class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" name="radio-inline" checked=""
                                                   class="custom-control-input"><span
                                                class="custom-control-label">Male</span>
                                        </label>
                                        <label class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" name="radio-inline" class="custom-control-input"><span
                                                class="custom-control-label">Female</span>
                                        </label>

                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label>Choose a Role</label>
                                        <select name="roleid" id="roleid" class="custom-select" required="required">
                                            <option value="select" selected="selected">Select</option>
                                            <option value="admin">Admin</option>
                                            <option value="manager">Manager</option>
                                            <option value="employee">Employee</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-12">
                                    <div class="float-right">
                                        <button type="submit" class="btn btn-outline-success">Save</button>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->

        <!-- ============================================================== -->
    </div>
</div>


</div>
</div>
<!-- ============================================================== -->

<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<!-- jquery 3.3.1 -->
<script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- bootstap bundle js -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<!-- slimscroll js -->
<script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- main js -->
<script src="assets/libs/js/main-js.js"></script>
<!-- chart chartist js -->
<script src="assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
<!-- sparkline js -->
<script src="assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
<!-- morris js -->
<script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
<script src="assets/vendor/charts/morris-bundle/morris.js"></script>
<!-- chart c3 js -->
<script src="assets/vendor/charts/c3charts/c3.min.js"></script>
<script src="assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
<script src="assets/vendor/charts/c3charts/C3chartjs.js"></script>
<script src="assets/libs/js/dashboard-ecommerce.js"></script>
</body>
</html>
