<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Java" class="School.School.School.services.Java">
        <property name="getOfficeHours" ref="officeHours"/>
    </bean>
    <bean id="Selenium" class="School.School.School.services.Selenium">
        <constructor-arg ref="officeHours"/>
    </bean>

    <bean id="officeHours" class="School.School.School.services.OfficeHours"></bean>


</beans>